h1{
    text-align: center;
    font-size: 7em;
    font-family: 'perfect_dark_brkregular';
    font-weight: bold;
    color: #1fcad6;
}

.interference{
    animation: interference 3s infinite;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.btn{
    font-family: 'audiowide';
    font-weight: bold;
    margin: 0.5em;
    color: white;
}

@keyframes interference {
    0% {
        transform: skewX(0)
    }

    31% {
        transform: skewX(-2deg)
    }

    31.5% {
        transform: skewX(89deg)
    }

    32% {
        transform: skewX(89deg)
    }

    32.1% {
        transform: skewX(0)
    }

    33% {
        transform: skewX(2deg)
    }

    54% {
        transform: skewX(0deg)
    }

    94% {
  
        transform: skewX(2deg)
    }

    95.1% {
        transform: skewX(-3deg)
    }

    95.2% {
        transform: skewX(-89deg)
    }

    95.3% {
        transform: skewX(2deg)
    }

    100% {
        transform: skewX(0)
    }
}
