/*modeButtons component css*/

.actionContainer{
    text-align: center;
    padding: 2%;
}
.actionContainer button{
    font-family: 'audiowide';
    font-weight: bold;
    margin: 0.5em;
}