/*autoPilotMode component css*/
.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}
p, h2{
    text-align: center;
}

.targetForm{
    flex-direction: row;
}

label {
  margin: 1em;
}

#labelRed{
    color: red;
}

#labelBlue{
    color: blue;
}

#labelGreen{
    color: green;
}

button{
    margin: 1em;
}